/* Цвета */
/* Текст */
/* Брейкпоинты */
.event {
  width: 288px;
  margin: 0 auto 13px;
}
@media (min-width: 768px) {
  .event {
    float: left;
    width: 358px;
    min-height: 376px;
    margin: 0;
  }
  .event:nth-child(1),
  .event:nth-child(4) {
    margin-right: 20px;
  }
  @supports (display:grid) {
    .event {
      float: none;
    }
    .event:nth-child(1),
    .event:nth-child(4) {
      margin-right: 0;
    }
  }
}
@media (min-width: 768px) {
  .event {
    width: 364px;
  }
  .event:nth-child(1),
  .event:nth-child(2),
  .event:nth-child(4) {
    margin-right: 24px;
  }
  @supports (display:grid) {
    .event:nth-child(1),
    .event:nth-child(2),
    .event:nth-child(4) {
      margin-right: 0;
    }
  }
}
.event__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 11px 0 8px;
}
.event__mark {
  margin-right: 2px;
}
@media (min-width: 768px) {
  .event__mark {
    margin-right: 4px;
  }
}
.event__details {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 5px;
}
.event__category {
  color: #898B8C;
  font-size: 14px;
}
.event__visual {
  position: relative;
  height: 184px;
  margin-bottom: 6px;
  text-align: center;
  background-color: #EAE9D6;
  border-radius: 12px 0px 12px 12px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .event__visual {
    height: 224px;
    margin-bottom: 12px;
  }
}
.event__visual--with-title {
  background-color: #CCC8A2;
}
.event__visual--book {
  padding: 12px 0;
}
@media (min-width: 768px) {
  .event__visual--book {
    padding: 15px 0;
  }
}
.event__pic {
  display: inline-block;
  height: 100%;
}
.event__pic-title {
  padding: 16px 79px 16px 16px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.08;
  text-align: left;
  color: #fff;
}
@media (min-width: 768px) {
  .event__pic-title {
    padding: 28px 79px 28px 24px;
    font-size: 34px;
    line-height: 1;
  }
}
.event__date {
  position: absolute;
  top: 11px;
  right: 12px;
}
@media (min-width: 768px) {
  .event__date {
    top: 16px;
    right: 14px;
  }
}
.event__title {
  padding: 0 8px 8px;
  text-align: left;
}
@media (min-width: 768px) {
  .event--bigsize {
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    max-width: 358px;
  }
  .event--bigsize .event__visual {
    height: 600px;
    padding: 0;
    background-color: transparent;
  }
  .event--bigsize .event__pic {
    width: auto;
    height: 100%;
  }
  .event--bigsize .event__pic--book {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .event--bigsize {
    max-width: 364px;
  }
}
