/* Цвета */
/* Текст */
/* Брейкпоинты */
.btn {
  display: inline-block;
  width: calc(100% - 40px);
  padding: 15px 10px;
  font-family: "Impact LT Std", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}
@media (min-width: 720px) {
  .btn {
    width: 60%;
    padding: 21px 40px 23px;
    font-size: 36px;
  }
}
.btn--step {
  position: relative;
  margin-bottom: 70px;
  color: #fff;
  background: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.5));
}
.btn--step:last-child {
  margin-bottom: 0;
}
@media (min-width: 720px) {
  .btn--step {
    margin-bottom: 110px;
  }
}
.btn--step::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border-radius: 50px;
}
.btn--step::after {
  content: "";
  position: absolute;
  bottom: -53px;
  left: 50%;
  width: 35px;
  height: 35px;
  background: url(../../../images/arrow.png);
  background-size: 100% 100%;
  transform: translateX(-50%);
}
@media (min-width: 720px) {
  .btn--step::after {
    bottom: -75px;
    width: 46px;
    height: 46px;
  }
}
.btn--step:last-child::after {
  display: none;
}
.btn--step1 {
  text-shadow: 1px 1px 0 #7f013a, -1px -1px 0 #7f013a, -1px 1px 0 #7f013a, 1px -1px 0 #7f013a, 3px 5px 7px #7f013a;
  box-shadow: 0 0 50px 50px rgba(255, 0, 48, 0.2);
}
.btn--step1:before {
  background: linear-gradient(to bottom, #d6576d, #b9293b);
}
.btn--step2 {
  text-shadow: 1px 1px 0 #010f7f, -1px -1px 0 #010f7f, -1px 1px 0 #010f7f, 1px -1px 0 #010f7f, 3px 5px 7px #010f7f;
  box-shadow: 0 0 50px 50px rgba(0, 153, 247, 0.2);
}
.btn--step2:before {
  background: linear-gradient(41deg, #00c0ff, #0066ff);
}
.btn--step3 {
  text-shadow: 1px 1px 0 #8a171a, -1px -1px 0 #8a171a, -1px 1px 0 #8a171a, 1px -1px 0 #8a171a, 3px 5px 7px #8a171a;
  box-shadow: 0 0 50px 50px rgba(251, 221, 79, 0.2);
}
.btn--step3:before {
  background: linear-gradient(to bottom, #fff600 30%, #ff9000);
}
