/* Цвета */
/* Текст */
/* Брейкпоинты */
.logo {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 720px) {
  .logo {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
  }
}
