/* Цвета */
/* Текст */
/* Брейкпоинты */
.events {
  margin-top: 40px;
  text-align: center;
}
@supports (display: grid) {
  @media (min-width: 768px) {
    .events__content {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 0;
    }
  }
  @media (min-width: 1440px) {
    .events__content {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 24px;
    }
  }
}
.events__btn {
  width: 288px;
  margin: 42px auto 16px;
}
@media (min-width: 768px) {
  .events__btn {
    width: 364px;
    margin-top: 12px;
  }
}
