/* Цвета */
/* Текст */
/* Брейкпоинты */
.content {
  position: relative;
  z-index: -2;
  min-width: 320px;
  max-width: 720px;
  margin: 0 auto;
  padding: 20px 0 95px;
  text-align: center;
  background: radial-gradient(#020d5f, #01062b);
  background-image: url(../../../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media (min-width: 720px) {
  .content {
    background-size: contain;
  }
}
.content__buttons {
  margin-bottom: 60px;
}
@media (min-width: 720px) {
  .content__buttons {
    margin-top: -80px;
  }
}
.content__title {
  position: relative;
  margin-bottom: 25px;
  z-index: 1;
}
