/* Цвета */
/* Текст */
/* Брейкпоинты */
.date {
  padding: 12px 16px 8px 18px;
  text-align: center;
  color: #fff;
  background-color: rgba(115, 114, 110, 0.7);
  border-radius: 8px 0px 8px 8px;
}
@media (min-width: 768px) {
  .date {
    padding: 12px 22px;
  }
}
.date__day {
  margin-bottom: 2px;
  font-size: 26px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .date__day {
    margin-bottom: 8px;
    font-size: 32px;
  }
}
.date__month {
  font-size: 12px;
}
@media (min-width: 768px) {
  .date__month {
    margin-bottom: 2px;
    font-size: 14px;
  }
}
.date__time {
  font-size: 12px;
}
@media (min-width: 768px) {
  .date__time {
    font-size: 14px;
  }
}
