/* Цвета */
/* Текст */
/* Брейкпоинты */
.winner {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 50%;
}
.winner--first {
  margin-bottom: 70px;
}
@media (min-width: 720px) {
  .winner--first {
    padding-top: 20px;
    padding-right: 60px;
  }
}
.winner--first img {
  transform: rotate(-14deg);
  box-shadow: inset 0 0 40px 30px rgba(0, 0, 255, 0.3), 0 0 50px 30px rgba(0, 0, 255, 0.3);
}
.winner--second {
  margin-bottom: 30px;
}
@media (min-width: 720px) {
  .winner--second {
    padding-top: 30px;
    padding-left: 40px;
  }
}
.winner--second img {
  transform: rotate(12deg);
  box-shadow: inset 0 0 40px 30px rgba(0, 0, 255, 0.3), 0 0 20px 10px rgba(0, 0, 255, 0.3);
}
@media (min-width: 720px) {
  .winner--third {
    margin-top: -65px;
  }
}
.winner--third img {
  box-shadow: inset 0 0 40px 30px rgba(0, 0, 255, 0.3), 0 0 20px 5px rgba(0, 0, 255, 0.3);
}
